In [14]:
import pandas as pd
import operator
from google_images_download import google_images_download

In [15]:
path_animals = '/Users/juan/Documents/manu/dev/yas/dev/animals.csv'
path_images = '/Users/juan/Documents/manu/dev/yas/dev/imgs'

In [16]:
df = pd.read_csv(path_animals)

In [17]:
print(len(df.index))
df.head(2)

94

,filename,Aardvark,African buffalo,African caracal,Baboon,Bat-eared fox,Rhinoceros,Bushbaby,Cheetah,Chimpanzee,...,Wild dog,Wildebeest,Zebra,Chameleon,Kudu,Ostrich,Eland,Mandrill,Lowland gorilla,Oryx
0,images/photos/2013/4/image_6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,images/photos/2013/4/image_8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
animals = list(df.columns[1:])
animals[:3]

['Aardvark', 'African buffalo', 'African caracal']

In [19]:
animals_count = {}
for animal in animals:
    animals_count[animal] = len(df[df[animal] == 1].index)

In [20]:
max_count = max(animals_count.items(), key=operator.itemgetter(1))[1]
max_animal = max(animals_count.items(), key=operator.itemgetter(1))[0]
max_animal, max_count

('Lion', 23)

In [27]:
# SET UP CRAWLER
#google_crawler = GoogleImageCrawler(storage={'root_dir': path_images})
filters = dict(type='photo')
for animal, count in animals_count.items():
    download_count = max_count - count
    print(animal, download_count)
    max_num = 3
    response = google_images_download.googleimagesdownload()   #class instantiation
    arguments = {"keywords":animal,"limit": max_num,"print_urls":True, "output_directory":path_images}
    paths = response.download(arguments)   #passing the arguments to the function
    print(paths)

    for path in paths[0][animal]:
        print(path)
    break

Aardvark 23

Item no.: 1 --> Item name = Aardvark
Evaluating...
Starting Download...
Image URL: https://www.thoughtco.com/thmb/HvCW3bmevS0e9t94U4vMb0Ijmq0=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/kenya--masai-mara-game-reserve--aardvark--orycteropus-afer--154773750-5ab00f47a9d4f90037e6ad38.jpg
Completed Image ====> 1.kenya--masai-mara-game-reserve--aardvark--orycteropus-afer--154773750-5ab00f47a9d4f90037e6ad38.jpg
Image URL: https://www.chesterzoo.org/app/uploads/2019/04/2016-Aardvark-2-in-the-zoo-square.jpg
Completed Image ====> 2.2016-Aardvark-2-in-the-zoo-square.jpg
Image URL: https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/a/aardvark_thumb.ngsversion.1474903830105.adapt.1900.1.JPG
IOError on an image...trying next one... Error: The read operation timed out
Image URL: https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/00315808_p67ehh.jpg
Completed Image ====> 3.00315808_p67ehh.jpg

Errors: 1

({'Aardvark': ['/Users/juan/Documents/manu/dev/yas/dev/imgs/Aardvark/1.kenya--masai-mara-game-reserve--aardvark--orycteropus-afer--154773750-5ab00f47a9d4f90037e6ad38.jpg', '/Users/juan/Documents/manu/dev/yas/dev/imgs/Aardvark/2.2016-Aardvark-2-in-the-zoo-square.jpg', '/Users/juan/Documents/manu/dev/yas/dev/imgs/Aardvark/3.00315808_p67ehh.jpg']}, 1)
/Users/juan/Documents/manu/dev/yas/dev/imgs/Aardvark/1.kenya--masai-mara-game-reserve--aardvark--orycteropus-afer--154773750-5ab00f47a9d4f90037e6ad38.jpg
/Users/juan/Documents/manu/dev/yas/dev/imgs/Aardvark/2.2016-Aardvark-2-in-the-zoo-square.jpg
/Users/juan/Documents/manu/dev/yas/dev/imgs/Aardvark/3.00315808_p67ehh.jpg