In [26]:
import pandas as pd
import operator
from icrawler.builtin import GoogleImageCrawler

In [27]:
path_animals = '/Users/juan/Documents/manu/dev/yas/dev/animals.csv'
path_images = '/Users/juan/Documents/manu/dev/yas/dev/imgs'

In [28]:
df = pd.read_csv(path_animals)

In [29]:
print(len(df.index))
df.head(2)

94

,filename,Aardvark,African buffalo,African caracal,Baboon,Bat-eared fox,Rhinoceros,Bushbaby,Cheetah,Chimpanzee,...,Wild dog,Wildebeest,Zebra,Chameleon,Kudu,Ostrich,Eland,Mandrill,Lowland gorilla,Oryx
0,images/photos/2013/4/image_6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,images/photos/2013/4/image_8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
animals = list(df.columns[1:])
animals[:3]

['Aardvark', 'African buffalo', 'African caracal']

In [31]:
animals_count = {}
for animal in animals:
    animals_count[animal] = len(df[df[animal] == 1].index)

In [32]:
max_count = max(animals_count.items(), key=operator.itemgetter(1))[1]
max_animal = max(animals_count.items(), key=operator.itemgetter(1))[0]
max_animal, max_count

('Lion', 23)

In [47]:
# SET UP CRAWLER
google_crawler = GoogleImageCrawler(storage={'root_dir': path_images})
filters = dict(type='photo')
for animal, count in animals_count.items():
    download_count = max_count - count
    print(animal, download_count)
    google_crawler.crawl(keyword=animal, filters=filters, max_num=3, file_idx_offset=0)
    break

2019-10-09 10:49:25,227 - INFO - icrawler.crawler - start crawling...
2019-10-09 10:49:25,227 - INFO - icrawler.crawler - starting 1 feeder threads...
2019-10-09 10:49:25,230 - INFO - feeder - thread feeder-001 exit
2019-10-09 10:49:25,230 - INFO - icrawler.crawler - starting 1 parser threads...
2019-10-09 10:49:25,234 - INFO - icrawler.crawler - starting 1 downloader threads...

Aardvark 23

2019-10-09 10:49:25,737 - INFO - parser - parsing result page https://www.google.com/search?q=Aardvark&ijn=0&start=0&tbs=itp%3Aphoto&tbm=isch
2019-10-09 10:49:25,816 - INFO - downloader - skip downloading file 000001.jpg
2019-10-09 10:49:25,817 - INFO - downloader - skip downloading file 000002.jpg
2019-10-09 10:49:31,304 - ERROR - downloader - Exception caught when downloading file https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/a/aardvark_thumb.ngsversion.1474903830105.adapt.1900.1.JPG, error: HTTPSConnectionPool(host='www.nationalgeographic.com', port=443): Read timed out. (read timeout=5), remaining retry times: 2
2019-10-09 10:49:32,416 - INFO - downloader - image #3	https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/a/aardvark_thumb.ngsversion.1474903830105.adapt.1900.1.JPG
2019-10-09 10:49:32,780 - INFO - downloader - downloaded images reach max num, thread downloader-001 is ready to exit
2019-10-09 10:49:32,781 - INFO - downloader - thread downloader-001 exit
2019-10-09 10:49:33,260 - INFO - icrawler.crawler - Crawling task done!
2019-10-09 10:49:33,424 - INFO - parser - downloaded image reached max num, thread parser-001 is ready to exit
2019-10-09 10:49:33,425 - INFO - parser - thread parser-001 exit